@model TourGuide.Models.Location

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    function validate() {
        var error = false;
        var errorList = "";
        var city = document.getElementById("Name").value;
        var state = document.getElementById("State").value;
        

        if (city === "") {
            error = true;
            errorList += "<li> The name of a city is required </li>";
        }

        if (state === "") {
            error = true;
            errorList += "<li> The name of a state is required </li>";
        }

        if (error === true) {
            var errorListElement = document.getElementById("errorList");
            errorListElement.innerHTML = errorList;
        } else {
            var form = document.getElementById("createForm");
            form.submit();
        }
    }
    </script>
<h2>Create</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createForm" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Location</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>
        <ul id="errorList"></ul>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" class="btn btn-default" onclick="validate();"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
