@model TourGuide.Models.Location

@{
    ViewBag.Title = "Location Details";
}

<h2>Location Details</h2>
<h4>Here is a list of hotels and restaurants <br /> in the area you requested:</h4>
<br/>
<br/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    </div>
<div class="col-md-6">
    <div class="panel panel-success">
        <div class="panel-heading">
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel.Name)
                </th>
            </tr>
            @foreach (var item in Model.Hotels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Hotel Details", "Details", "Hotel", new { id = item.ID }, null)
                    </td>
                </tr>
            }
        </table><br />
        </div></div>
<div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
            </div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurant.Name)
                    </th>
                </tr>
                @foreach (var item in Model.Restaurants)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Restaurant Details", "Details", "Restaurant", new { id = item.ID }, null)
                        </td>
                    </tr>
                }
            </table>
            </div></div>


        <p>
            @if (User.Identity.Name == "teamproject@tourguide.com")
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
            }
            &nbsp;
            @Html.ActionLink("Back to List", "Index")
        </p>
