@model PagedList.IPagedList<TourGuide.Models.Location>
@using PagedList.Mvc;
@using System.ComponentModel.DataAnnotations;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Location";
}

<h2>Where are you staying?</h2>
<h4>Check out a list of hotels <br /> and restaurants within that city</h4>

@using (Html.BeginForm("Index", "Location", FormMethod.Get))
{
    <p>
        Search for a city by name: <br />@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn-success"/><br />
    </p>
}

<p>
    @if (User.Identity.Name == "teamproject@tourguide.com")
    {
        @Html.ActionLink("Create New", "Create")
    }

</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("State", "Index", new { sortOrder = ViewBag.StateSortParm })
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
@if (User.Identity.Name == "teamproject@tourguide.com")
{ 
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
}
&nbsp;
@if (User.Identity.Name == "teamproject@tourguide.com")
{
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
}
&nbsp;
 
                    @Html.ActionLink("Details", "Details", new { id = item.ID })                    
                </td>
            </tr>
        }

    </table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter =
            ViewBag.CurrentFilter
            
    }))
