@model PagedList.IPagedList<TourGuide.Models.Restaurant>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-rating-input.min.js" type="text/javascript"></script>
@{
    ViewBag.Title = "Restaurant";
}

<h2>Restaurants</h2>
<h4>Search for a specific restaurant <br /> to see if it is in the area</h4>

@using (Html.BeginForm("Index", "Restaurant", FormMethod.Get))
{
    <p>
        Search for a restaurant by name: <br />@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn-success" /><br />
    </p>
}

<p>
    @if (User.Identity.Name == "teamproject@tourguide.com")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Restaurant", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>

        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.CitySortParm })
        </th>
        <th>
            @Html.ActionLink("State", "Index", new { sortOrder = ViewBag.StateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.State)
            </td>
            <td>
               @if (User.Identity.Name == "teamproject@tourguide.com")
               {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
               }
            &nbsp;
            @if (User.Identity.Name == "teamproject@tourguide.com")
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
            &nbsp;

            @Html.ActionLink("Details", "Details", new { id = item.ID })
            
            </td>
        </tr>
}

</table>
<br /> 
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of 
@Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = 
ViewBag.CurrentFilter }))
