@model TourGuide.Models.Hotel
@*<script src="~/Scripts/bootstrap-rating-input.min.js" type="text/javascript"></script>*@
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            <a href="http://@Html.DisplayFor(model => model.URL)">@Html.DisplayFor(model => model.URL)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Rating)*@
            <input type="number" name="rating" id="rating" class="rating"/>
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>  

        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long)
        </dd>*@
        <dt>
            Map
        </dt>
        <dd>
            <br />
            <div id="map_canvas" style="width: 640px; height: 480px;">
            </div>
        </dd>
        @*<dd>
            <form onload="initialize()">
                <div id="map-canvas" style="width: 320px; height: 480px;"></div>
            </form>
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key = AIzaSyCvMv8C0DUwmoroqarxpF2SfuF6Y3MKgHA &sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function () {
        initialize();
    });
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(@Html.DisplayFor(model => model.Lat) , @Html.DisplayFor(model => model.Long)),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);
        // create a marker
        var latlng = new google.maps.LatLng(@Html.DisplayFor(model => model.Lat) , @Html.DisplayFor(model => model.Long));
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'Location'
        });
    }
</script>    

