@model TourGuide.Models.Hotel
@*<script src="~/Scripts/bootstrap-rating-input.min.js" type="text/javascript"></script>*@
@{
    ViewBag.Title = "Details";
}

<br/>
<br />
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">@Html.DisplayFor(model => model.Name)</h3>
    </div>
    <div class="panel-body">

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Location.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Location.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.State)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.URL)
                </dt>

                <dd>
                    <a href="http://@Html.DisplayFor(model => model.URL)">@Html.DisplayFor(model => model.URL)</a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd>
                    <input type="number" name="rating" id="rating" class="rating" value="@Html.DisplayFor(model => model.Rating)" data-max="5" data-min="1" />
                </dd>
                </dl>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            Map
        </dt>
        <dd>
            <br />
            <div id="map_canvas" style="width: 640px; height: 480px;">
            </div>
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.Name == "teamproject@tourguide.com")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    }
    &nbsp;
    @Html.ActionLink("Back to List", "Index")
</p>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key = AIzaSyCvMv8C0DUwmoroqarxpF2SfuF6Y3MKgHA &sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function () {
        initialize();
    });
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(@Html.DisplayFor(model => model.Lat) , @Html.DisplayFor(model => model.Long)),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);
        // create a marker
        var latlng = new google.maps.LatLng(@Html.DisplayFor(model => model.Lat) , @Html.DisplayFor(model => model.Long));
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'Location'
        });
    }
</script>    

